@media screen and (min-width: 1200px) and (orientation: landscape) {
    #search-result{
        margin-left: 200px;
    }
    .content__left{
        width: 900px !important;
    }
    /*Hide unrequired statistics*/
    .serp-adv__found, .serp-header__nav{
        display: none;
    }
    
    .serp-adv__add a{
        display: none;
    }
    
    .organic__url-text{
        font-size: 22px;
    }
    
    .organic__subtitle{
        display: none;
    }
    /* moving search field to center */
    .search2__input{
        margin-left: 200px;
    }
    
    .organic__content-wrapper{
        color: gray;
        /* display:none; */
    }
    
    .serp-header__search2{
        margin-left: 200px;
        font-size: 22px;
        /* transform: scale(1.3); */
    }
    
    .input__settings{
        display: none;
    }
    
    .user-account__name{
        display: none !important;
    }
    
    a{
        color: black;
    }
    
    /* Hide scroler at top */
    .scroller__container{
        display: none;
    }
    
    .serp-footer{
        display: none;
    }
    
    /*Hide footer*/
    .serp-footer__main{
        display: none;
    }
    
    .main__content{
        overflow: hidden;
    }
    
    .pager__items{
        margin-left: 400px;
        transform: scale(1.5);
    }
    
    .mini-suggest__footer{
        display: none;
    }
    
    
    .logo{
        display: none !important;
    }
    
    .card__narrow{
        width: 400px;
    }
    /* removing "People also search" */
    .related {
        display: none;
    }
}