@media screen and (min-width: 1200px) and (orientation: landscape) {
    
    .serp-header__search2{
        margin-left: 200px;
        font-size: 22px;
    }

    /* #search-result{
        margin-left: 300px;
    } */
    /* 
    .content__left{
        width: 900px !important;
    }
    /*Hide unrequired statistics*/
    /* .serp-adv__found, .serp-header__nav{
        display: none;
    }
    
    .serp-adv__add a{
        display: none;
    }
    
    .organic__url-text{
        font-size: 22px;
    }
    
    .organic__subtitle{
        display: none;
    } */
    /* moving search field to center */
    /* .search2__input{
        margin-left: 200px;
    }

    #search-result-aside > div.serp-list.serp-list_right_yes.serp-list_complementary_yes > div{
        display:none;
    }
    
    .organic__content-wrapper{
        color: gray;

    } */
    
    /* 
    
    .input__settings{
        display: none;
    }
    
    {
        display: none !important;
    }
    
    a{
        color: black;
    } */
    
    /* Hide scroler at top */
    /* .scroller__container{
        display: none;
    }
    
    .serp-footer{
        display: none;
    } */
    /*
    
    .main__content{
        overflow: hidden;
    }
    
    .pager__items{
        margin-left: 400px;
        transform: scale(1.5);
    }
    
    .mini-suggest__footer{
        display: none;
    }
    
    
    .logo{
        display: none !important;
    }
    
    .card__narrow{
        width: 400px;
    } */
}